@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700;800&family=Kumbh+Sans:wght@400;700&family=Montserrat&family=Poppins:wght@200;300;400;500;600;700;800&family=Tapestry&display=swap');

:root{
    --grey:rgb(202, 202, 202);
    --yellow: rgb(238, 216, 17);
    --white: rgb(253, 253, 250);
    --font: 'Poppins', sans-serif;
    --black: black;
}

body{
    background-color: var(--grey);
    font-family: var(--font);
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0px;
    height: 150px;
}

.links ul{
    display: flex;
    flex-direction: direction;
    gap: 4rem;
    list-style: none;  
}

.links a{
    text-decoration: none; 
    font-weight: 600;
    font-size: small;
    color: var(--black)
}

#logo {
    font-weight: 800;
}

.fieldset{
    display:flex;
    justify-content: space-around;
    gap: 1rem;
    
}

.button{
    background-color: var(--white);
    border-radius: 0px;
    border:none;
    width:70px;
    height: 40px;
    font-family: var(--font);
    align-items: center;
}

.notif{
    background-color: var(--yellow);
    display: inline-flex;
    width: 50px;
    height: 40px;

}

.notif img{
    justify-content: center;
    width: 15px;
    margin: auto;
}

.notification{
    background-color: var(--black);
    margin-left: -30px;
    margin-top: -5px;
    margin-right: -5px;
    width: 20px;
    height: 20px;
    font-size: xx-small;
    color: var(--white);
    align-items: center;
    border-radius: 30px;
}

.notification h3{
    text-align: center;
    margin-top: 0.8px;
}


/* <=================Hero Section====================> */

.hero-container {
    display: flex;
    justify-content:space-between;
    
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 300px;

}

 .heading{
   
    display: flex;
    flex-direction: column;
 }

.title{
    padding: 0px;
    margin-bottom: -55px;
    font-size: 40px;
}

.price{
    margin-top: 30px;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    width: 20%;
    height:100%;
    justify-content: center;
    gap: 1rem;
}

.slide img{
    max-width: 100px;
    height: 100%;
    margin: auto;
}
